<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/images/logo-nav.png" alt="Uconnect Logo" style="height: 10rem;" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/dashboard">Home</a>
        <a class="nav-link" href="/posts">All posts</a>
        <a class="nav-link" href="/posts/new">Add new listing</a>
      </div>
    </div>
  </div>
</nav>